version: "3.8"

services:
  web2gif:
    build:
      context: .           # construit l'image à partir du repo
      dockerfile: Dockerfile
    image: urltogif:latest # tag local après build
    container_name: web2gif
    ports:
      - "9786:8080"        # => http://<ip>:9786
    environment:
      PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: "true"
      NODE_ENV: production
    shm_size: "2gb"
    restart: unless-stopped
